<section class="container">
    <div class="container-logo">
        <img src="assets/icons/logo.png" alt="">
    </div>

    <ul class="container-menu">
        <li class="item-inicio">
            <a routerLink="/"
               routerLinkActive="link-active"
               [routerLinkActiveOptions]="{exact:true}">
    
                <img src="assets/icons/inicio.png" alt="">
            </a>
        </li>
        <li class="item-seguros">
            <a routerLink="/seguros"
               routerLinkActive="link-active"
               [routerLinkActiveOptions]="{exact:true}">
                <img src="assets/icons/seguros.png" alt="">
            </a>
        </li>
        <li class="item-asegurados">
            <a routerLink="/asegurados"
               routerLinkActive="link-active"
               [routerLinkActiveOptions]="{exact:true}">
                <img src="assets/icons/asegurados.png" alt="">
            </a>
        </li>
    </ul>
    
</section>


