.table{
    width: 100%;
    max-width: 700px;
}

th{
    text-align: left;
    font-weight: 900;
}
td{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.row{
    border: 1px solid #dfdfdf;
    border-radius: 5px;
 
    margin-bottom: 2px;
}

button{
    background-color: white;
}

.seguro-action{
    display: flex;
}


.ocultar_campo{
    display: none;
}

/************************* Estilos de escritorio ********************************/
@media (min-width: 700px) {
    .ocultar_campo{
        display: table-cell;
    }
}

