<form>
    <mat-form-field>
        <mat-label>Cédula del asegurado</mat-label>
        <input matInput 
               [formControl]="consultaForm"
               autocomplete="off"
               maxlength="10"
               (keyup)="BuscarAseguradoConEnter($event)">
      </mat-form-field>

      <button mat-mini-fab
              class="btn-search">
        <img src="assets/icons/search.png"
             alt=""
             (click)=" BuscarAsegurado()"
             width="20"
             height="20">
      </button>

      <div class="resultado" *ngIf="asegurado">

        <div class="datos-asegurado">
            <h2>Datos del asegurado</h2>
            <div class="dats-asegurado-tabla">
                <p>
                    <strong>Cédula:</strong>
                    {{asegurado.Cedula}}
                </p>
                <p>
                    <strong>Nombre:</strong>
                    {{asegurado.Nombre}}
                </p>
                <p>
                    <strong>Teléfono:</strong>
                    {{asegurado.Telefono}}
                </p>
                <p>
                    <strong>Edad:</strong>
                    {{asegurado.Edad}}
                </p>
            </div>
        </div>

        <div class="datos-seguro" *ngIf="asegurado">
            <h2>Seguros</h2>
            <table class="table">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Asegurada</th>
                    <th>Prima</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="row" *ngFor="let seguro of asegurado.Seguros">
                    <td *ngIf="seguro.Seguro">{{seguro.Seguro?.Nombre}}</td>
                    <td *ngIf="seguro.Seguro">$ {{seguro.Seguro.SumaAsegurada}}</td>
                    <td *ngIf="seguro.Seguro">$ {{seguro.Seguro.Prima}}</td>
                  </tr>
                </tbody>
            </table>
        </div>

      </div>

</form>